@import "tailwindcss";

@layer base {
  body {
    background-image: linear-gradient(rgba(249, 250, 251, 0.9), rgba(249, 250, 251, 0.9)), url('https://picsum.photos/seed/farmer/1920/1080');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @apply text-gray-900;
  }
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}
